# Ignorar carpetas de compilación de Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/


# Archivos de entorno virtual
venv/
.env/

# Archivos de configuración locales
*.env
*.local

# Archivos de logs
*.log
catboost_info/
